    html,

    body{
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: calc(100% - 205px);
      overflow: hidden;
    }

    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
  }
  
  .overlay-content {
      position: relative;
      top: 25%;
      width: 80%;
      text-align: center;
      margin-top: 20px;
  }
  
  .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
  }
  
  .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 40px;
      font-size: 60px;
  }

  .btn .legendClicked {
    background-color: #818181;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  .overlay h2, .overlay p {
    color:white;
    }

    .list-group {
      padding:0px;
    }

.Side {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; 
 position: fixed; /* Fixed Sidebar (stay in place on scroll) */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-color: #111; /* Black */
 overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 20px
}